<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<html xmlns="http://www.w3.org/1999/xhtml">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>DHS - Offsite Java Assignment</title>
</h:head>
<body>

	<img src="../resources/img/logo-color.svg" alt="discovery" />
	<h:form id="distance">
		<p:layout style="min-width:400px;min-height:200px;">
			<p:layoutUnit position="west">
				<p:panelGrid columns="2">
					<p:outputLabel for="">Source</p:outputLabel>
					<p:outputLabel for="">Earth</p:outputLabel>
					<p:outputLabel for="">Destination</p:outputLabel>
					<p:selectOneMenu id="destination"
						value="#{dijkstraController.destinationVertex}" effect="fold">
						<f:selectItem itemLabel="Select One" itemValue=""
							noSelectionOption="true" />
						<f:selectItems value="#{dijkstraController.planets}"></f:selectItems>

					</p:selectOneMenu>

					<p:commandButton value="Go" icon="ui-icon-search"
						action="#{dijkstraController.findShortestDistance()}"
						update="@form" />
				</p:panelGrid>
			</p:layoutUnit>
			<p:layoutUnit position="center">
				<p:dataTable value="#{dijkstraController.shortestDistance}"
					var="paths">
					<p:column headerText="Planet">
						<h:outputText value="#{paths.planet}" />
					</p:column>
				</p:dataTable>
			</p:layoutUnit>
		</p:layout>
	</h:form>
</body>
	</html>
</ui:composition>